* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
}

a {
    color: white;
}

i {
    cursor: pointer;
    opacity: .8;
}

#pedro {
    text-decoration: underline;
}

#minhas_redes {
    color: gray;
    text-decoration: underline;
}

button {
    background-color: yellow;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    transition: .4s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

button:hover {
    cursor: pointer;
    transform: scale(1.08);
}

nav {
    background-color: #2e2e2e;
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    padding: 2%;
    position: fixed;
    z-index: 999;
}

.identificacao {
    display: flex;
    width: 30%;
    align-items: center;
    font-size: 20px;
}

.identificacao>a {
    display: flex;
    align-items: center;
    transition: .4s;
}

.identificacao>a:hover {
    cursor: pointer;
    color: yellow;
}

.identificacao>a>img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-right: 10px;
}

.menus {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.menus>a {
    transition: .4s;
}

.menus>a:hover {
    color: yellow;
}

.lateral>.icons>a {
    display: flex;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 30%;
    margin: auto;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centro>h1,
.centro>h3 {
    color: white;
}

.sobre_mim,
.projetos,
.contato {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos {
    color: white;
    position: relative;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    width: 50%;
    text-align: center;
}

.descricao {
    display: flex;
    margin: auto;
    padding: 10px;
    width: 60%;
}

.me_conheca {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60vh;
    justify-content: space-evenly;
}

.my_skills {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60vh;
    margin-top: 15px;
    align-items: center;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    height: 250px;
}

.skills>h3 {
    background-color: #d3d3d3;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
}

.projetos>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projetos>.titulo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projeto {
    display: flex;
    margin: auto;
    padding: 10px;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagem {
    display: flex;
    width: 50%;
    padding: 20px;
}

.imagem>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infos {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.info_contato {
    background-color: #d3d3d3;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

.align_right {
    display: flex;
    justify-content: flex-end;
}

.insert>p {
    font-size: 20px;
    margin-bottom: 5px;
}

.insert>input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

textarea{
    width: 100%;
    height: 150px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

footer {
    background-color: #2e2e2e;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.pessoal_infos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.pedro_paulo>h3,
.social_icons>h3 {
    margin-bottom: 20px;
}

.icons>a>i {
    margin-right: 10px;
    font-size: 30px
}

.rodape {
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    width: 70%;
    height: 30px;
    margin: auto;
    align-items: center;
}

#titulo_projeto{
    margin: auto;
    padding-top: 50px;
}

.menu_sanduiche{
    display: none;
}

@media (max-width: 412px) {

    .identificacao>a>h2{
        font-size: 20px;
        width: 150px;
    }

    .menus{
        display: none;
    }

    .menu_sanduiche{
        display: block;
        color: white;
        font-size: 40px;
        margin-right: 10px;
        padding-top: 10px;
    }

    .sobre_mim{
        display: flex;
        width: 90%;
        height: 170vh;
        margin: auto;
    }

    .descricao{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 130vh;
        margin: auto;
    }

    .me_conheca{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .me_conheca>h3{
        padding-top: 10px;
    }

    .me_conheca>a{
        margin: auto;
        padding-top: 20px;
    }

    .my_skills{
        height: 50vh;
        display: flex;
        align-items: center;
        text-align: center;
        margin: auto;
        padding-top: 20px;
    }

    .projeto {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 20px;
    }

    .infos {
        width: 90%;
        height: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        justify-content: space-between;
    }

    .imagem {
        width: 90%;
        margin: auto;
    }

    .titulo {
        width: 90%;
        margin: auto;
    }

    .info_contato {
        width: 90%;
        margin-bottom: 20px;
    }

    .pessoal_infos {
        display: flex;
        flex-direction: column;
    }

    .pedro_paulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .social_icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .icons>a>i {
        margin-right: 0;
        font-size: 30px
    }

    .rodape {
        height: 40px;
        text-align: center;
    }
}